* {
  margin: 0;
  padding: 0;
}

.nav {
  width: 100%;
  height: 50px;
  background-color: #aaa;

  @at-root{
    .search-wrapper{

      float: right;
      margin-right: 20px;

      .searchBar{
        width: 200px;
        height: 30px;
        padding: 0 10px;
        line-height: 50px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      .searchBtn{
        font-family: Calibri;
        font-size: 20px;
        color: #fff;
        background-color: #0b97c4;
        border: none;
        padding: 5px 20px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

.main-sec {
  background-color: #eee;
  width: 100%;

  position: relative;

@at-root {
  .wrapper{
    width: 310px;
    padding: 20px 0 0 20px;

    position: absolute;

  }
  .news-item{
    padding: 10px;

    font-family: Calibri;
    border: 1px solid #0b97c4;
    border-radius: 5px 5px;

/*    &:hover{
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }

    @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }

      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }*/
  }

  a{
    text-decoration: none;
    color: #000;
  }

  .thumbnail{
    text-align: center;
    height: 100px;
  }

  p{
    line-height: 1.2;
  }
}
}
